page-home {

    ion-card h1 {
        text-align: center;
        padding: 5px;
      }

      .btn-add-exercise {
        margin-bottom: 0.02em;
    }

    ion-input {
        line-height: 1em;
        padding-left: .5em;
    }
}
