page-do-workout {
    .col {
        margin-top: auto;
        margin-bottom: auto;
    }

    input {
        background-color: rgb(27, 27, 27);
        border: none;
        padding-left: .75em;  
        width: 100%;
        line-height: 1.5em;
    }

    .label {
        padding: 0;
        margin: 0;
    }

    ion-item-sliding {
        background-color: #151319!important;
        border-top: 1px solid rgb(87, 87, 87);
        border-collapse: collapse;
    }

    ion-item-sliding:last-child {
        border-bottom: 1px solid rgb(87, 87, 87);
    }
    // div.input-wrapper {
    // margin: 0!important;
    // padding: 0!important;
    // border: 1px solid white;
    // }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: none;
    }

    a, button {
        border: 1px solid rgb(190, 190, 190);
    }

    

}
